<div class="profile-header-wrapper">
  <div class="container">
    <!-- Avatar and username -->
    <div class="profile-header-infos">
      <img src="http://placehold.it/40x40" class="avatar-medium">
      <h1><%= @user.first_name %></h1>
      <h2><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.city %></h2>
    </div>
    <!-- Insert your <div class="tabs"> here -->
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>0</h3>
        <p>Achats en cours</p>
      </a>
      <a class="tab" href="#">
        <h3>4</h3>
        <p>Achats validés</p>
      </a>
      <a class="tab" href="#">
        <h3>12</h3>
        <p>Producteurs</p>
      </a>
      <a class="tab" href="#">
        <h3></h3>
        <p>Infos</p>
      </a>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>
