<div class="profile-header-wrapper">
  <div class="container">

    <!-- Avatar and username -->
    <div class="profile-header-infos">
      <img src="http://placehold.it/40x40" class="avatar">
      <h1>hjabri</h1>
      <h2>student @LeWagon</h2>
    </div>
    <!-- Insert your <div class="tabs"> here -->
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>350</h3>
        <p>Followers</p>
      </a>
      <a class="tab" href="#">
        <h3>456</h3>
        <p>Following</p>
      </a>
      <a class="tab" href="#">
        <h3>189</h3>
        <p>Upvoted</p>
      </a>
      <a class="tab" href="#">
        <h3>13</h3>
        <p>Submitted</p>
      </a>
    </div>
  </div>
</div>
