<div class="footer">
  <div class="container padded-sm">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <ul class="list-inline">
          <li>
            <a href="#">Comment ça marche ?</a>
          </li>
          <li>
            <a href="#">Nos Engagements</a>
          </li>
          <li>
            <a href="#">L'épopée</a>
          </li>
          <li>
            <a href="#">F.A.Q.</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <br>
        <ul class="list-inline">
          <li>
            <i class="fa fa-facebook"></i>
          </li>
          <li>
            <i class="fa fa-twitter"></i>
          </li>
        </ul>
        <br>
        <a>© 2016 Deligreens.com</a>
      </div>
    </div>
  </div>
</div>
