<div class="footer">
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- Maybe pute an image -->
    </div>
    <div class="share-links">
        <a href="#" class="share-link bg-facebook col-xs-6">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#" class="share-link bg-twitter col-xs-6" aria-hidden="true">
            <i class="fa fa-twitter"></i>
        </a>
      </div>
      </div>
    </div>
</div>
