<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Maybe pute an image -->
            </div>
            <ul class=" contact list-unstyled list-inline text-center bg-text">
                <li>
                    <a href="#">Comment ça marche ?</a>
                </li>

                <li>
                    <a href="#">Nos Engagements</a>
                </li>

                <li>
                    <a href="#">L'épopée</a>
                </li>

                <li>
                    <a href="#">F.A.Q.</a>
                </li>

                <li>
                    <a href="https://blog.deligreens.com/">Blog</a>
                </li>
            </ul>
            <hr>
        </div>
        <div class="share-links">
            <a href="#" class="share-link bg-facebook col-xs-4 col-xs-offset-4">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#" class="share-link bg-twitter col-xs-4 col-xs-offset-4" aria-hidden="true">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</div>
