<div class="banner-home" style="background-image: url(<%= image_path "background.jpg" %>);">
  <div class="banner-content">
    <h1>Les meilleurs produits,<br>livrés chez toi !</h1>
    <p>Le plus large choix de produits ultra-frais, garantis bio et locaux,<br>livrés gratuitement à domicile en 24 heures à Lyon et Villeurbanne</p>
    <a class="btn btn-warning btn-lg bold">Fais ton marché</a>
  </div>
</div>
<%= render 'shared/testimonials' %>
