/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-xs {
  padding-top: 4em;
}
.padded-sm {
  padding-top: 3em;
  padding-bottom: 3em;
}
.padded-top {
  padding-top: 5em;
}
.padded-top-bottom-2em {
  padding: 2em 0;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Font weights
.bold {
  font-weight: bold;
}

.wrapper-spring-wood {
  min-height: calc(100vh - 70px);
  background-color: $background-color;
}

// Floats
.float-left {
  float: left;
}

// Colors
.green {
  color: $third-color;
}
.primary-color-medium {
  color: $primary-color-medium;
}
