.features-card {
  margin: 40px 5px;
}
.features-card-img {

}
.features-card-content {
  color: $primary-color-medium;
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 40px 0;
  }
  p {
    font-size: 18px;
  }
}
