.wrapper {
  min-height: calc(100vh - 70px);
  background: $background-color;
  padding: 40px 0px;
}
.product-card {
  height: 325px;
  background: white;
  margin: 20px 10px;
  position: relative;
  box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
}
.product-card-img {
  height: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
}
.product-card-name {
  color: $primary-color-light;
  position: absolute;
  bottom: 0px;
  left: 15px;
  h6 {
    font-weight: bold;
    font-size: 16px;
  }
  p {
    color: $primary-color;
  }
  span {
    color: $gray-light;
    font-size: 13px;
  }
}
.product-card-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.product-card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.product-card-category {
  a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
  }
  position: absolute;
  top: 15px;
  right: 15px;
}
.product-card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.product-card-description h2 {
  font-size: 24px;
}
.product-card-description p {
  font-size: 13px;
  }
.product-card-description span {
  font-size: 18px;
  }
.product-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.product-card-link:hover{
  opacity: 0.1;
}
