<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= image_path "delivery.jpg" %>);">
  <div class="banner-content">
    <h1>Fruits / Légumes</h1>
    <div class= "banner-content-border"></div>
    <p>Fruits - Herbes - Aromatiques - Légumes</p>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="product-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "delivery.jpg" %>);">
          <div class="product-card-category"></div>
          <div class="product-card-description">
            <h2>Framboises bio - <span> 125 g</span></h2>
            <p>2.99 € - <span>23.2€/kg</span></p>
          </div>
          <a class="product-card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
